* {
    font-family: 'Roboto';
}

main, header, footer {
    padding: 30px;
}

body {
    height: 100%;
    background-color: #cbdfff;
    background-image: url('img/background.jpg');
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat;
}

.base-wrapp {
    min-height: 100vh;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

/* CSS */
.button-profile {
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  order: 2;
  margin: 10px 0px 0px 0px;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  align-items: center;
  line-height: 2;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-profile:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-profile:hover {
  color: white;
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-profile:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}



#header {
    position: fixed;
    top: 0;
    right: 0;
    box-sizing:initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-height: 20px;
    z-index: 10;
    text-align: center;
    background-color:  #141414;
    padding: 30px 0px;
}



h1 {
    text-align: center; 
    -webkit-text-stroke: 1px black;
    font-size: 50px;
    mix-blend-mode: overlay;
    letter-spacing: 5px;
    filter: drop-shadow(0px 0px 15px rgb(0, 102, 255));
}  

#logo {
    order: 1;
    filter: drop-shadow(0px 0px 7.5px rgb(255, 255, 255));
    transition: all 0.7s ease;
}

#logo:hover {
    transform: scale(-1, 1);
}

#basket {
    order: 3;
    margin: 0px 0px 10px 0px;
    transition: transform 0.4s ease;
}


#basket:hover {
    transform: scale(1.05);
}

.link {
    text-decoration: none;
    color: white;
    font-size: 23px;
    transition: color 1s ease;
}


.middle-block {
    display: flex;
    gap: 100px;
    order: 2; /* Средний блок (ссылки) в центре (второй элемент) */
}

.last-block {
    order: 3; /* Последний блок (профиль и корзина) в правом углу (третий элемент) */
    display: flex;
    gap: 20px; /* Регулируйте расстояние между элементами по вашему усмотрению */
    padding: 0px 10px 0px 0px;
}

  

.link:hover{
    color: coral;
}

.link {
    position: relative; /* Относительное позиционирование для .link */
  }
  
  .link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Поднимаем подчеркивание на 2 пикселя, чтобы было невидимо изначально */
    right: 0;
    height: 2px;
    background: coral; /* Цвет подчеркивания */
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 1s ease, background 1s ease;
  }
  
  .link:hover::after {
    transform: scaleX(1);
  }
  


a {
    text-decoration: none;
}

p {
    font-size: 18px;
}
/* 
.footer {
    background-color: #141414;
    font-size: 30px;
    position: absolute;
    bottom: -1000px;

    padding: 30px;
    left: 0px;
    right: 0px;
     margin-bottom: -250px; 
}

.footer a{
    color: #ff8000;
} */

h2 {
    color: rgb(81, 81, 80);
    
}

h3 {
    color: rgb(116, 114, 114);
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto';
}

