{% extends 'app_settings/app_settings.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'product_page/product_page.css' %}">
    <script src="{% static 'product_page/product.js' %}" defer></script>
{% endblock %}


{% block content %}
    <h1>Сторінка товарів</h1>
    <h2>Apple Iphone</h2>
    <div class="card-grid">
        <div class="card" data-id="001">
            <p>
                <img class="product-img" src="{% static 'product_page/img/iphone15promax.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Iphone 15 Pro Max</h3>
            <hr>
            <h3 class="product-price">1800</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>

        <div class="card" data-id="002">
            <p>
                <img class="product-img" src="{% static 'product_page/img/iphone14promax.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Iphone 14 Pro Max</h3>
            <hr>
            <h3 class="product-price">1200</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>

        <div class="card" data-id="003">
            <p>
                <img class="product-img" src="{% static 'product_page/img/iphone13.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Iphone 13</h3>
            <hr>
            <h3 class="product-price">740</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>

        <div class="card" data-id="004">
            <p>
                <img class="product-img" src="{% static 'product_page/img/iphone14.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Iphone 14</h3>
            <hr>
            <h3 class="product-price">850</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>

        <div class="card" data-id="005">
            <p>
                <img class="product-img" src="{% static 'product_page/img/iphone11.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Iphone 11</h3>
            <hr>
            <h3 class="product-price">570</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>

        <div class="card" data-id="006">
            <p>
                <img class="product-img" src="{% static 'product_page/img/iphone12.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Iphone 12</h3>
            <hr>
            <h3 class="product-price">630</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
    </div>
    <h2>Apple Ipad</h2>
    <div class="card-grid">
        <div class="card" data-id="007">
            <p>
                <img class="product-img" src="{% static 'product_page/img/ipad1.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Ipad 10.2 64GB</h3>
            <hr>
            <h3 class="product-price">350</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="008">
            <p>
                <img class="product-img" src="{% static 'product_page/img/ipad_air.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Ipad Air 256GB</h3>
            <hr>
            <h3 class="product-price">800</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="009">
            <p>
                <img class="product-img" src="{% static 'product_page/img/ipad_pro.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Ipad Pro 128 GB</h3>
            <hr>
            <h3 class="product-price">1050</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="010">
            <p>
                <img class="product-img" src="{% static 'product_page/img/ipad2.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Ipad 10.9 64GB</h3>
            <hr>
            <h3 class="product-price">600</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="011">
            <p>
                <img class="product-img" src="{% static 'product_page/img/ipad3.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Ipad 10.9 256GB</h3>
            <hr>
            <h3 class="product-price">800</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="012">
            <p>
                <img class="product-img" src="{% static 'product_page/img/ipad_pro2.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Ipad Pro 2TB</h3>
            <hr>
            <h3 class="product-price">2100</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
    </div> 
    <h2>Apple MacBook</h2>
    <div class="card-grid"> 
        <div class="card" data-id="013">
            <p>
                <img class="product-img" src="{% static 'product_page/img/macbook_air13.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">MacBook Air 13 256GB</h3>
            <hr>
            <h3 class="product-price">1000</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="014">
            <p>
                <img class="product-img" src="{% static 'product_page/img/macbook_pro16.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">MacBook Pro 16 512GB</h3>
            <hr>
            <h3 class="product-price">3200</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="015">
            <p>
                <img class="product-img" src="{% static 'product_page/img/macbook_pro13.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">MacBook Pro 13 256GB</h3>
            <hr>
            <h3 class="product-price">1700</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="016">
            <p>
                <img class="product-img" src="{% static 'product_page/img/macmini.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Apple Mac Mini 256GB</h3>
            <hr>
            <h3 class="product-price">750</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="017">
            <p>
                <img class="product-img" src="{% static 'product_page/img/macbook_air15.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">MacBook Air 15 1TB</h3>
            <hr>
            <h3 class="product-price">2100</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="018">
            <p>
                <img class="product-img" src="{% static 'product_page/img/imac24.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Apple IMac 24 512GB</h3> 
            <hr>
            <h3 class="product-price">3000</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
    </div>
    
{% endblock %}