{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlineShop</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app_settings/app_settings.css' %}">
    <link rel="icon" href="https://icons.iconarchive.com/icons/limav/flat-gradient-social/512/Apple-Store-icon.png" type="image/x-icon">

    {% block links %}
        
    {% endblock %}
</head>
<body>
    <div class="base-wrapp">
    <header>
        <nav id="header">
            <a href="{% url 'main' %}" id="logo"><img src="{% static 'app_settings/img/logo2.png' %}" width="60px" height="60px" alt=""></a>
            <div class="middle-block">
                <a href="{% url 'main' %}" class='link'>Головна сторiнка</a>
                <a href="{% url 'contact' %}" class='link'>Контакти</a>
                <a href="{% url 'product' %}" class='link'>Товари</a>
            </div>
            <div class="last-block">
                <a href="{% url 'profile' %}" class="button-profile">Профiль</a>
                <a href="{% url 'shopping' %}" id="basket"><img src="{% static 'app_settings/img/basket.png' %}" width="60px" height="60px" alt=""></a>
                {% block header %}
        
                {% endblock %}
            </div>
        </nav>
        </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <div class="copyright">
            <p>
                Designed by <a href="https://github.com/AlexeyTarasov77" target='_blank'>Alexey Tarasov</a> 2023
            </p>
        </div>
    </footer>
    </div>
</body>
</html>