body {
    background-color: #212121;
    background-image: none;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px; /* Пространство между карточками */
}

.card {
    width: calc(16.6667% - 20px); /* Чтобы каждая карточка занимала 25% ширины с отступом */
    background: #303030;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.product-img {
    width: 100%; /* Растянуть изображение на всю ширину карточки */
    text-align: center; /* Чтобы изображение было по центру карточки */
}

.remove-from-cart {
display: flex;
align-items: flex-end;
justify-content: center;
padding: 5px;
background-color: red;
color: white;
width: 100%;
border: 0px;
border-radius: 5px;
}

.remove-from-cart:hover {
    background-color: orangered;
}

h3 {
    color: #ddd;
}
.purchase-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
}

.purchase-button {
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    font-size: 30px;
    background-color: #0678fa;
    color: #fff;
    border: 2px solid rgb(17, 0, 255);
    transition: background 0.3s ease;
    margin-bottom: 30px;
}

.purchase-button:hover {
    background: #0633fa;
}

.purchase-button:active {
    transform: translateY(2px);
}


.title{
    font-size: 60px;
    letter-spacing: 45px;
    text-transform: uppercase;
    mix-blend-mode: normal;
    color: rgb(0, 0, 255);
    filter: drop-shadow(0px 0px 0px);
}
