{% extends 'app_settings/app_settings.html' %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'contact_page/contact_page.css'%}">
{% endblock %}


{% block content %}
    <div id="all">
        <div>
            <h1>Вітаємо Вас, клієнте!</h1>
        </div>
        <div id="text">
            <div class="txt">Ви можете зв'язатися з нами, щоб вирішити будь-які питання, отримати першокласну консультацію, поділитись вашими враженнями від покупки та озвучити на різноманітні пропозиції для розгляду.            </div>
            <div class="txt">Ваша думка для нас є дуже важливою, бо ми піклуємось про якісне надання послуг та Ваш комфорт.</div>
            <div class="txt">Маєте зауваження або хочете залишити скаргу? Готові до діалогу, розгляду ситуації та надання варіантів її вирішення!</div>
            <div class="txt">Готові покращувати наші послуги кожен день для Вас!</div>
        </div>
        <p id="us">З'вяжіться з нами:</p>
        <div id="contact">
            <div class="phone-number">
            <p>Телефонні контакти:</p>
            <p><img src="https://cdn4.iconfinder.com/data/icons/social-media-2097/94/phone-512.png" alt="" width="16px" height="16px" style="border-radius: 10px;"> +380989754588 Данило <a href="https://t.me/dgubarev"><img src="https://cdn-icons-png.flaticon.com/512/906/906377.png" alt="" width="16px" height="16px"></a>,<br>
                <img src="https://cdn4.iconfinder.com/data/icons/social-media-2097/94/phone-512.png" alt="" width="16px" height="16px" style="border-radius: 10px;"> +380952034319 Олексій <a href="https://t.me/feelingdeath0_0"><img src="https://cdn-icons-png.flaticon.com/512/906/906377.png" alt="" width="16px" height="16px"></a>,<br>
                <img src="https://cdn4.iconfinder.com/data/icons/social-media-2097/94/phone-512.png" alt="" width="16px" height="16px" style="border-radius: 10px;">  +380985981032 Віталій <a href="https://t.me/IWaithI"><img src="https://cdn-icons-png.flaticon.com/512/906/906377.png" alt="" width="16px" height="16px"></a>,<br>
                <img src="https://cdn4.iconfinder.com/data/icons/social-media-2097/94/phone-512.png" alt="" width="16px" height="16px" style="border-radius: 10px;">   +390993676896 Ольга <a href="https://t.me/Olyabd"><img src="https://cdn-icons-png.flaticon.com/512/906/906377.png" alt="" width="16px" height="16px"></a>.<br>
            </p>
            </div>
            <p>Електронна пошта:</p>
            <p>danilgubarev9804@gmail.com Данило, marshalgames182@gmail.com Олексій, fedenkovitalya3010@gmail.com Віталій, bachyrinaolya94@gmail.com Ольга</p>
        </div>
    </div>
{% endblock %}